@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

.subscribe_section {
    background-color: rgba(239, 120, 34, 0.6);
}

.section_container {
    margin: 0 auto;
    max-width: 1200px;
}

.section_content-container {
    margin: 0 28px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 17px 0px;
}

.section_left_image_container {
    height: 100px;
}

.left_image {
    width: 210px;
    height: 100%;
    padding-top: 17px;
}

.section_right_image_container {
    height: 100px;
}

.right_image {
    width: 210px;
    height: 100%;
    padding-top: 17px;
}

.section-form {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.section_input_container {
    background: rgb(249, 250, 252);
    border-radius: 8px;
    width: 362px;
    height: 48px;
}

.section_search_box {
    color: rgb(107, 114, 128);
    outline: none;
    border: none;
    margin-left: 20px;
    font-size: 16px;
    width: 100%;
    height: 30px;
}

.section_input_button {
    width: 52px;
    height: 35px;
    outline: 0;
    border-radius: 5px;
    background: radial-gradient(50% 50% at 50% 50%, rgb(255, 190, 11) 0%, rgb(251, 86, 7) 100%);
    border: 0;
    padding: 5px 10px;
    margin-right: 8px;
}

.section_button_icon {
    color: rgb(255, 255, 255);
    fill: currentColor;
}

.section_title_container {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.section_title {
    margin: 0px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: Rubik, sans-serif;
    font-size: 24px;
    line-height: 1.375;
}

.section_subtitle {
    margin: 0px;
    line-height: 1.375;
    font-family: Rubik, sans-serif;
    color: rgb(117, 133, 144);
    font-weight: 400;
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    .left_image {
        width: 200px;
    }

    .section_title_container {
        width: 28%;
        /* margin-right: 12px; */
    }

    .section_title {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .left_image {
        width: 150px;
        padding-top: 13px;
    }

    .section_title_container {
        width: 50%;
        margin-left: -30px;
    }

    .right_image {
        width: 105px;
        height: 70%;
        padding-top: 35px;
    }
}

@media screen and (max-width: 425px) {
    .section_content-container {
        justify-content: space-between;
        flex-flow: wrap;
        padding-left: 10px;
        padding-bottom: 0;
    }

    .section_left_image_container {
        order: 1;
        height: 75px;
    }

    .left_image {
        width: 103px;
        height: 63px;
        padding-top: 12px;
    }

    .section_title_container {
        flex-basis: 100%;
        margin-left: 0px;
        align-items: center;
    }

    .section_title {
        font-size: 19px;
    }

    .section_subtitle {
        text-align: center;
    }

    .section_right_image_container {
        order: 1;
    }

    .section_input_container {
        margin-top: 8px;
        margin-left: 2px;
    }

    .section_right_image_container {
        order: 1;
        height: 75px;
    }

    .right_image {
        width: 103px;
        height: 78%;
        padding-top: 17px;
    }
}